header.header {
    padding: 62px 0;
 }

 .header-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
 }

 .logo {
    display: flex;
    align-items: flex-end;
    z-index: 200;
 }

 .header__logo-img {
    display: block;
    width: 49px;
    height: 26px;
    background: url(../svg/Vector.svg) no-repeat;
 }

 .header__logo-text {
    display: flex;
    padding: 0 25px;
    font-family: Forum, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    letter-spacing: 5px;
    text-transform: uppercase;
    line-height: 21px;
 }

 .header__nav-container {
    flex-basis: 775px;
 }

 li {
    list-style: none;
 }

 a {
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease;
 }

 li a:hover {
    color: var(--font-gold);
    transition: color 0.3s ease;
 }

 li a:active {
    color: var(--font-gold);
 }

 .header__nav-list {
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .nav-item a {
    letter-spacing: 2px;
    color: var(--font-bright);
 }

 .header__nav-container .nav-item:not(:last-of-type) {
    padding-right: 10px;
 }

 .nav-burger {
    display: none;
    position: absolute;
    width: 32px;
    height: 18px;
    top: calc(50% - 9px);
    right: 0;
    cursor: pointer;
    z-index: 100;
 }

 .nav-burger::before {
    top: 0;
 }

 .nav-burger::after {
    bottom: 0;
 }

 .nav-burger::before,
 .nav-burger::after {
    content: " ";
    background: #FFFFFF;
    border: none;
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 2px;
    transition: all 0.3s ease 0s;
 }

 .nav-burger span {
    position: absolute;
    background: #FFFFFF;
    border: none;
    z-index: 100;
    width: 100%;
    height: 2px;
    top: calc(50% - 1px);
 }

 .nav-burger.active span {
    transform: scale(0);
 }

 .nav-burger.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
 }

 .nav-burger.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
 }

 body.active {
    overflow: hidden;
 }

 @media screen and (max-width: 1024px) {
    header.header {
       padding: 45px 0 51px;
    }

    .header__logo span {
       height: 30px;
    }

    .nav-burger {
       display: block;
       z-index: 100;
    }

    .header__nav-container {
       position: fixed;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       z-index: 100;
       transform: translate(-100%, 0px);
       transition: transform 0.4s ease 0s;
    }

    .header__nav-body {
       max-width: 297px;
       width: 100%;
       height: 710px;
       background-color: black;
       z-index: 90;
       padding: 163px 30px 30px 55px;

       overflow: auto;
       z-index: 300;
    }

    .welcome h2.active,
    .discover-button.active,
    .welcome .section-subtitle.active {
       transform: translate(-100%, 0px);
       transition: transform 0.7s ease 0s;
    }

    .welcome h2,
    .discover-button,
    .welcome .section-subtitle {
       transform: translate(0, 0);
       transition: transform 0.4s ease 0s;
    }

    .header__nav-container.active {
       transform: translate(0%, 0px);
    }

    .header__nav-list {
       flex-direction: column;
       align-items: stretch;
    }

    .header__nav-list li {
       margin-bottom: 25px;
       position: relative;
       font-size: 20px;
       line-height: 23px;
    }

    .header__nav-container .header__nav-list li::after {
       content: " ";
       position: absolute;
       background: url(../svg/arrow_nav.svg) no-repeat;
       width: 7px;
       height: 12px;
       top: calc(50% - 6px);
       right: 92px;
    }
 }

 @media screen and (max-width: 768px) {
    header.header {
       padding-bottom: 40px;
    }
 }

 @media (max-width: 420px) {
    header.header {
       padding-top: 37px;
    }

    .header__logo-text {
       font-size: 16px;
       line-height: 18px;
    }

    .header__logo-img {
       width: 29px;
       max-height: 16px;
       background-size: contain;
       bottom: 0;
    }
 }