.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* Яндекс - выше установили ограничения для секции */
  display: flex;
  /* AK - сделал позиционирование относительным, чтобы заработали абсолютные позиционирования блоков
  применительно к блоку хеадер, а не боди */
  position: relative;
  background-color: var(--gray-light);
  overflow: hidden;
}