:root {
  --gray-dark: #1f1f1f;
  --gray-light: #f2f2f2;
  --blue: #2f80ed;
  --black: #000000;
  --white: #ffffff;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
  background-color: var(--gray-light);
}

.logo {
  width: 183px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  height: 32px;
  left: 64px;
  background-image: url("../images/logo_place_header.svg");
}

.header__title {
  align-self: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 64px;
  max-width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 700;
  z-index: 2;
}

.header__subtitle {
  margin: 0;
  padding: 0;
  position: absolute;
  max-width: 388px;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 2;
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
  z-index: 1;
  object-fit: cover;
  object-position: center;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: var(--blue);
  position: absolute;
  top: 64px;
  right: 0;
}

.header__link {
  text-decoration: none;
  color: var(--blue);
}

/* ----- content ----- */
.content {
  display: flex;
  flex-direction: column;
}

/* ----- description ----- */
.description {
  display: flex;
  background-color: var(--white);
}

.two-columns {
  display: flex;
  margin: auto;
  margin-top: 100px;
  width: 80%;
  justify-content: space-between;
}

.two-columns__brief {
  display: flex;
  margin: 0;
  padding: 0;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: var(--blue);

}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  margin: 0;
  padding: 0;
}

.two-columns__paragraph {
  margin: 0 0 30px 0;
  padding: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 700;
}

/* ----- digits ----- */
.digits {
  display: flex;
  background-color: var(--white);
  flex-direction: column;
}

.section-title {
  display: flex;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 20px;
  width: 60%;
  justify-content: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
}

.section-subtitle {
  display: flex;
  padding: 0;
  margin: auto;
  width: 60%;
  justify-content: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  width: 1100px;
  margin: 0 auto 100px auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__cell {
  margin-top: 60px;
  width: 250px;
}

.table__heading {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
}

.table__text {
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__text:last-of-type {
  margin-bottom: 0;
}

/* -----  feynman ----- */
.feynman {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 890px;
  background-color: var(--gray-light);
  position: relative;
  background-image: url("../images/feynman.png");
  background-size: 867px 637px;
  background-position: left bottom;
  background-repeat: no-repeat;
  padding-top: 100px;
}

.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: 700;
  margin: 0 auto 70px auto;
  max-width: 648px;
  text-align: center;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 0 auto;
}

.feynman__link {
  color: var(--blue);
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  position: absolute;
  top: 50%;
  right: 48px;
}

/* ----- kaufman ----- */
.kaufman {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--gray-dark);
  position: relative;
  z-index: 0;
}

.section-title_theme_dark {
  color: var(--white);
  margin: 90px auto 0 auto;
}

.section-subtitle_theme_dark {
  color: var(--white);
  margin: 20px auto 0 auto;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
}

.table_theme_dark {
  margin-bottom: 90px;
}

.kaufman__triangle {
  position: absolute;
  top: 0px;
  right: -210px;
  width: 877px;
  height: 877px;
  background-image: url("../images/kaufman-triangle.svg");
  z-index: -1;
  background-size: cover;
}

/* ----- footer ----- */
.footer {
  display: flex;
  background-color: var(--gray-dark);
  color: var(--white);
  min-height: 350px;
  box-sizing: border-box;
  padding: 60px 0 40px;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.footer__column {
  margin: 0;
}

.footer__column_content_copyright {
  display: flex;
  flex-basis: 711px;
  flex-direction: column;
  justify-content: space-between;
}

.logo_place_footer {
  height: 35px;
  background-image: url("../images/logo_place_footer.svg");
}

.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  margin: 0;
  padding: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}

.footer__column-item {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  /* margin-bottom: 16px; */
}

.footer__column-links {
  margin: 0 0 16px 0;
  padding: 0;
}

.footer__column-link {
  display: flex;
  justify-self: center;
  text-decoration: none;
  color: var(--white);
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__social-icon {
  display: inline-flex;
  margin-top: 6px;
  margin-right: 10px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
}